<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- Sengaja TIDAK meminta izin INTERNET: semua data tetap di perangkat. -->
    <uses-permission android:name="android.permission.USE_BIOMETRIC" />

    <!-- Supaya bisa memeriksa aplikasi keuangan mana yang terpasang (Android 11+). -->
    <queries>
        <package android:name="com.gojek.app" />
        <package android:name="ovo.id" />
        <package android:name="id.dana" />
        <package android:name="com.shopee.id" />
        <package android:name="id.co.bri.brimo" />
        <package android:name="com.bca" />
        <package android:name="id.bmri.livin" />
    </queries>

    <application
        android:name=".CukupApp"
        android:allowBackup="false"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="false"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.Cukup">

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".notif.MoneyNotificationListener"
            android:exported="false"
            android:label="@string/notif_listener_label"
            android:permission="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE">
            <intent-filter>
                <action android:name="android.service.notification.NotificationListenerService" />
            </intent-filter>
        </service>

        <receiver
            android:name=".widget.CukupWidgetReceiver"
            android:exported="true"
            android:label="@string/widget_label">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_info" />
        </receiver>
    </application>
</manifest>
